<div class="container text-center" style="margin-top: 50px;">
    <h2>Teşekkürler!</h2>
    <p>İade talebiniz başarıyla gönderildi.</p>

    <form asp-action="Sayfa1" method="get">
        <button type="submit" class="btn btn-primary">Yeni İade Talebi Oluştur</button>
    </form>
</div>
